body{
    background-color:black;
    margin:0;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-weight: bold;
    font-size: 20px;
    background: url(../img/card.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

      


}
/* head{
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;

} */

.navbar-name{
    float: left;
    position: absolute;
    margin-top:1em;
    margin-left: 2em;
    margin-bottom: 1em;
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    
}

.navbar-container {
    position: absolute;
    background-color: black;
    width:100%;
    border: 3px ridge red;
    /* border: 1px solid Blue; */
    /* border-color: aqua; */
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px white;


}

.navbar-container a {
    text-decoration: none;
    color:white;
    letter-spacing: 1px;
    color:red;
    /* border: 3px ridge White; */
     /* margin-top:2em; */
}

.links li{
    list-style-type: none;
    display: inline-block;
    margin-top:1em;
    margin-bottom: 1em;
    margin-right: 2em;
}

/* .navbar-links{
    float:right;
} */
.navbar-links ul{
    float:right;
}

.links a:hover{
    color:#deecff;

}
.portrait {
    display: inline-block;
    padding-top: 6em;
    margin-left: 2em;

}
.intro{
    color:red;
    margin-top: 100px;
    /* margin-bottom: 200px; */
    /* margin-right: 200px;
    margin-left: 200px; */
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px white;



}
.content{
    color:red;
    margin-top: 350px;
    text-align: center;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}
.footer{
    text-align: center;
    color:red;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}


